body {
    background-color: white;
    font-family: 'Outfit', sans-serif;
    margin:0%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

body p {
    font-size: 15px;
}

.container {
    background-color: (212, 45%, 89%);
}


.qr-container {
    background-color: hsl(212, 45%, 89%);
    padding: 100px 20px 15vh 100px;
}

.card {
    background-color: white;
    border-radius: 5%;
    padding: 5px;
    margin: auto;
    width: 20%;
}

.card-text {
     text-align: center;
     padding-left: 10px;
     padding-right: 10px;
}

#qr-bold-text {
    font-weight: bold;
    font-size: large;
}

.qr-img {
    border-radius: 5%;
    margin: auto;
}

/* Responsiveness */
@media only screen and (max-width:600px){  
    .card {
        background-color: white;
        border-radius: 5%;
        padding: 10px;
        margin: auto;
        width: 85%;
    }

    .card-text {
        text-align: center;
        font-size: 24px;
        padding-left: 30px;
        padding-right: 30px;
   }

    .qr-container {
        background-color: hsl(212, 45%, 89%);
        padding: 15vh 5px 20% 10px;
    }

    #qr-bold-text {
        font-weight: bold;
        font-size: 24px;
    }
}