body {
    background-color: white;
    font-family: 'Outfit', sans-serif;
    margin:0%;
    height: 100vh;
}

body p {
    font-size: 15px;
}

.container {
    background-color: (212, 45%, 89%);
}


.qr-container {
    background-color: hsl(212, 45%, 89%);
    padding: 100px 20px 100px 20px;
}

.card {
    background-color: white;
    border-radius: 5%;
    padding: 1%;
    margin: auto;
    width: 14%;;
}

.card-text {
     text-align: center;
}

#qr-bold-text {
    font-weight: bold;
}

.qr-img {
    border-radius: 5%;
    margin: auto;
}

/* Responsiveness */
@media only screen and (max-width:600px){  
    .card {
        background-color: white;
        border-radius: 5%;
        padding: 5%;
        margin: auto;
        width: 70%;
    }

    .qr-container {
        background-color: hsl(212, 45%, 89%);
        padding: 20% 10px 20% 10px;
    }

    #qr-bold-text {
        font-weight: bolder;
        font-size: 20px;
    }
}